Pi-Magazine-1811-flow.txt
[{"id":"47cc1abb.62d4f4","type":"inject","z":"4f5db5d4.2d74cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["1831874.0065279"]]},{"id":"1831874.0065279","type":"http request","z":"4f5db5d4.2d74cc","name":"","method":"GET","ret":"txt","url":"http://localhost:3000/read?target=ADC2","tls":"","x":350,"y":100,"wires":[["f1f8b6f2.a7a0c8"]]},{"id":"7a2579.87eb4a88","type":"debug","z":"4f5db5d4.2d74cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":180,"wires":[]},{"id":"c417a14d.45faa","type":"Slack Bot Out","z":"4f5db5d4.2d74cc","name":"","apiToken":"xoxb-454288752983-454306345047-vVom2AvJyNalAp7kOO9bzPKR","channel":"#general","x":690,"y":420,"wires":[]},{"id":"f1f8b6f2.a7a0c8","type":"json","z":"4f5db5d4.2d74cc","name":"","property":"payload","action":"","pretty":false,"x":630,"y":100,"wires":[["f25b06.b232e4f8"]]},{"id":"7a33121d.33be3c","type":"switch","z":"4f5db5d4.2d74cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":300,"wires":[["26bfa0e4.71faa"],["ab188328.9d5ec"]]},{"id":"26bfa0e4.71faa","type":"change","z":"4f5db5d4.2d74cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"照明がついたよ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":260,"wires":[["7a2579.87eb4a88","c417a14d.45faa"]]},{"id":"ab188328.9d5ec","type":"change","z":"4f5db5d4.2d74cc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"照明が消えたよ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":340,"wires":[["7a2579.87eb4a88","c417a14d.45faa"]]},{"id":"f25b06.b232e4f8","type":"function","z":"4f5db5d4.2d74cc","name":"","func":"var result = true;\nvar new_status = 'off';\nvar before = context.flow.get('before');\n\nif(msg.payload.value >= 400){\n    new_status = 'on';\n}\n\nif(!before){\n    context.flow.set('before',new_status);\n    msg.result = true;\n    return msg;\n}\n\nif(new_status !== before){\n    result = false;\n}\ncontext.flow.set('before',new_status);\nmsg.payload = new_status;\nmsg.result = result;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":220,"wires":[["7722f4a1.1ea57c"]]},{"id":"7722f4a1.1ea57c","type":"switch","z":"4f5db5d4.2d74cc","name":"","property":"result","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":300,"wires":[[],["7a33121d.33be3c"]]}]